@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../../public/fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../../public/fonts/gilroy/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../../public/fonts/gilroy/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../../public/fonts/gilroy/Gilroy-Bold.ttf");
}


@layer base {
  :root {
    /* ui colors */
    --primary: 241, 86%, 59%;
    --primary-foreground: 60, 3%, 18%;
    --prime: 277, 60%, 45%;
    --background: 0, 0%, 96%;
    --foreground: 60, 3%, 18%;
    --card: 0 0% 100%;
    --card-foreground: 60, 3%, 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 60, 3%, 18%;
    --secondary: 0 0% 60%;
    --secondary-foreground: 60, 3%, 18%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 60, 3%, 18%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60, 3%, 18%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.background-image {
  background-image: url('../../public/bg-image.webp');
  background-size: cover;
  background-position: center;
  /* height: v */
  text-align: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(223,157,14,1) 100%); */
  align-items: center;
}